In [1]:
!python --version

Python 3.10.12

# Sintaxis (Cadenas)

In [2]:
# Ejemplo simple: Crear una cadena de texto
saludo = "Hola, Cibertec!"

In [3]:
# Ejemplo medio: Operaciones con cadenas
nombre = "Cibertec"
saludo_completo = f"Hola, {nombre}"

In [4]:
# Ejemplo avanzado: Métodos de cadenas
texto = "  hola cibertec  "
texto_limpio = texto.strip()  # Elimina espacios en blanco al inicio y al final
texto_mayuscula = texto.upper()  # Convierte el texto a mayúsculas

# Variables

In [5]:
# Ejemplo simple: Asignación de variables
nombre = "Cibertec"
print(nombre)

Cibertec

In [6]:
# Ejemplo medio: Variables de diferentes tipos
texto = "Hola"
numero = 42
flotante = 3.14
es_verdad = True

In [7]:
# Ejemplo avanzado: Uso de variables en una función
def calcular_area_circulo(radio):
    """Calcula el área de un círculo"""
    pi = 3.14159
    area = pi * (radio ** 2)
    return area

# Operaciones

In [8]:
# Ejemplo simple: Crear una lista
mi_lista = [1, 2, 3]

In [9]:
# Ejemplo simple: Suma de dos números
resultado = 2 + 3

In [10]:
# Ejemplo medio: Operaciones con variables
x = 10
y = 5
suma = x + y
resta = x - y
multiplicacion = x * y
division = x / y

# Objetos

In [11]:
# Ejemplo avanzado: Operaciones con listas y diccionarios
lista = [1, 2, 3]
diccionario = {'clave': 'valor'}

# Agregar elementos
lista.append(4)
diccionario['nueva_clave'] = 'nuevo_valor'

# Eliminar elementos
lista.remove(1)
del diccionario['clave']

In [12]:
# Ejemplo medio: Crear un objeto de una clase
class Persona:
    def __init__(self, nombre):
        self.nombre = nombre

In [13]:
persona1 = Persona("Jhoeel")
# Acceder al atributo nombre del objeto y mostrarlo
print(persona1.nombre)

Jhoeel

In [14]:
# Ejemplo avanzado: Herencia y métodos en clases
class Profesor(Persona):
    def __init__(self, nombre, materia_enseñada):
        super().__init__(nombre)
        self.materia_enseñada = materia_enseñada

    def mostrar_curso(self):
        """Muestra el curso que el profesor enseña"""
        print(f"{self.nombre} enseña el curso de {self.materia_enseñada}")

In [15]:
# Creando un objeto de la clase Profesor
profe_jhoeel = Profesor("Jhoeel", "Machine Learning")
profe_jhoeel.mostrar_curso()

Jhoeel enseña el curso de Machine Learning

# Listas

In [16]:
# Ejemplo simple: Creación de una lista
numeros = [1, 2, 3, 4]

In [17]:
# Ejemplo medio: Acceso y modificación de elementos en una lista
primero = numeros[0]
numeros[1] = 7

In [18]:
# Ejemplo avanzado: Métodos y slicing en listas
numeros.append(5)
sub_lista = numeros[1:4]

# Tuplas

In [19]:
# Ejemplo simple: Creación de una tupla
coordenadas = (4, 5)

In [20]:
# Ejemplo medio: Acceso a elementos en una tupla
x = coordenadas[0]
y = coordenadas[1]

In [21]:
# Ejemplo avanzado: Desempacar una tupla
x, y = coordenadas
x, y

(4, 5)

# Diccionarios

In [22]:
# Ejemplo simple: Creación de un diccionario
persona = {'nombre': 'Jhoeel', 'peso': 70}

In [23]:
# Ejemplo medio: Acceso y modificación de elementos en un diccionario
nombre = persona['nombre']
persona['peso'] = 85

In [24]:
# Ejemplo avanzado: Métodos en diccionarios
keys = persona.keys()
values = persona.values()

# Sets

In [25]:
# Ejemplo simple: Creación de un set
conjunto = {1, 2, 3}

In [26]:
# Ejemplo medio: Adición y eliminación de elementos en un set
conjunto.add(4)
conjunto.remove(1)

In [27]:
# Ejemplo avanzado: Operaciones de conjunto
otro_conjunto = {3, 4, 5}
interseccion = conjunto & otro_conjunto

# Condiciones

In [28]:
# Ejemplo simple: Condicional if
if 5 > 2:
    print("5 es mayor que 2")

5 es mayor que 2

In [29]:
# Ejemplo medio: Condicional if-else
if 5 < 2:
    print("5 es menor que 2")
else:
    print("5 no es menor que 2")

5 no es menor que 2

In [30]:
# Ejemplo avanzado: Condicional if-elif-else
x = 10
if x > 10:
    print("x es mayor que 10")
elif x == 10:
    print("x es igual a 10")
else:
    print("x es menor que 10")

x es igual a 10

# Bucles

In [31]:
# Ejemplo simple: Bucle for
for i in range(3):
    print(i)

0
1
2

In [32]:
# Ejemplo medio: Bucle while
contador = 0
while contador < 3:
    print(contador)
    contador += 1

0
1
2

In [33]:
# Ejemplo avanzado: Bucles anidados
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

# Funciones

In [34]:
# Ejemplo simple: Definición de una función
def saludo():
    print("Hola")

In [35]:
# Ejemplo medio: Función con parámetros
def suma(a, b):
    return a + b

In [36]:
# Ejemplo avanzado: Funciones de orden superior
def aplicar_funcion(func, x, y):
    return func(x, y)

resultado = aplicar_funcion(suma, 5, 3)

# Errores

In [37]:
# Ejemplo simple: Error de sintaxis
try:
    print("Hola"
except SyntaxError:
    print("Hubo un error de sintaxis")

SyntaxError: ignored

In [38]:
# Ejemplo medio: Manejo de errores con try-except
try:
    resultado = 10 / 0
except ZeroDivisionError:
    print("División por cero")

División por cero

In [39]:
# Ejemplo avanzado: Manejo múltiple de errores
try:
    # código que podría lanzar varios errores
    pass
except (ValueError, TypeError) as e:
    print(f"Ocurrió un error: {e}")

# Map y filter

In [40]:
# Ejemplo simple: Uso de map para elevar al cuadrado
cuadrados = list(map(lambda x: x**2, [1, 2, 3, 4]))

In [41]:
# Ejemplo medio: Uso de filter para obtener números pares
pares = list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4]))

In [42]:
# Ejemplo avanzado: Uso combinado de map y filter
resultados = list(map(lambda x: x**2, filter(lambda x: x % 2 == 0, [1, 2, 3, 4])))

# List Comprehension

In [43]:
# Ejemplo simple: List comprehension para elevar al cuadrado
cuadrados = [x**2 for x in [1, 2, 3, 4]]

In [44]:
# Ejemplo medio: List comprehension con condicional
pares_cuadrados = [x**2 for x in [1, 2, 3, 4] if x % 2 == 0]

In [45]:
# Ejemplo avanzado: List comprehension anidada
matriz = [[j for j in range(3)] for i in range(3)]

# Import

In [46]:
# Ejemplo simple: Importar un módulo
import math

In [47]:
# Ejemplo medio: Importar una función específica de un módulo
from math import sqrt

In [48]:
# Ejemplo avanzado: Importar con alias y uso de múltiples funciones
import numpy as np
from scipy import stats