## Conocimientos fundamentales

In [ ]:
# Importar la librer√≠a
import pandas as pd

In [ ]:
# Crea un dataframe de ejemplo
df = pd.DataFrame(
    {
        "Nombre": [
            "Jesus",
            "Jose",
            "Maria",
        ],
        "Edad": [33, 60, 50],
        "Genero": ["masculino", "masculino", "femenino"],
    }
)

# Muestra el dataframe
df

  Nombre  Edad     Genero
0  Jesus    33  masculino
1   Jose    60  masculino
2  Maria    50   femenino

In [ ]:
# Selecciona la columna edad
df.Edad

0    33
1    60
2    50
Name: Edad, dtype: int64

In [ ]:
# Selecciona la columna edad
df["Edad"]

0    33
1    60
2    50
Name: Edad, dtype: int64

In [ ]:
type(df["Edad"])

pandas.core.series.Series

In [ ]:
# Selecciona dos columnas: edad y g√©nero
df[["Edad", "Genero"]]

   Edad     Genero
0    33  masculino
1    60  masculino
2    50   femenino

In [ ]:
# Calcula la edad m√°xima
df["Edad"].max()

60

In [ ]:
# Calcula la edad m√≠nima
df["Edad"].min()

33

In [ ]:
# Genera estad√≠sticas descriptivas
df.describe()

            Edad
count   3.000000
mean   47.666667
std    13.650397
min    33.000000
25%    41.500000
50%    50.000000
75%    55.000000
max    60.000000

## Conocimientos intermedios

In [ ]:
# Diferencia entre la edad mayor y la menor
df["Edad"].max() - df["Edad"].min()

27

### Funciones de Python en pandas

In [ ]:
# Funci√≥n que calcula la diferencia entre la edad m√°xima y m√≠nima en el marco de datos 'df'
def diferencia_edad(df):
    return df["Edad"].max() - df["Edad"].min()

In [ ]:
# Agregando Python docstring (buenas pr√°cticas como claridad, usabilidad, mantenibilidad, documentaci√≥n)
def diferencia_edad(df):
    """
    Funci√≥n que calcula la diferencia entre la edad m√°xima y m√≠nima en el DataFrame 'df'.

    Par√°metros:
    df (pd.DataFrame): DataFrame que contiene la columna 'Edad'.

    Devuelve:
    int: La diferencia entre la edad m√°xima y m√≠nima en la columna 'Edad' del DataFrame 'df'.
    """
    return df["Edad"].max() - df["Edad"].min()

In [ ]:
# Llama la funci√≥n
diferencia_edad(df)

27

### Clases de Python en pandas

In [ ]:
class ProcesadorDataFrame:
    """
    Esta clase se usa para procesar objetos DataFrame.
    """

    def __init__(self, df):
        """
        Inicializa el ProcesadorDataFrame con un DataFrame.

        Par√°metros:
        df (pd.DataFrame): DataFrame que se va a procesar.
        """
        self.df = df

    def diferencia_edad(self):
        """
        Calcula la diferencia entre la edad m√°xima y m√≠nima en el DataFrame 'df'.

        Devuelve:
        int: La diferencia entre la edad m√°xima y m√≠nima en la columna 'Edad' del DataFrame 'df'.
        """
        return self.df["Edad"].max() - self.df["Edad"].min()

In [ ]:
# Crea una instancia de la clase ProcesadorDataFrame, pasando el DataFrame 'df' como argumento
procesador = ProcesadorDataFrame(df)

# Utiliza el m√©todo 'diferencia_edad' del objeto 'procesador' para calcular la diferencia de edad y lo asigna a la variable 'diferencia'
diferencia = procesador.diferencia_edad()

# Muestra el valor almacenado en la variable 'diferencia'
diferencia

27

## Laboratorio # 01

In [ ]:
# S√≥lo correr este bloque para crear el dataframe de ejemplo para el laboratorio
# Crea el dataframe de ejemplo para el laboratorio
df_potter = pd.DataFrame(
    {
        "Nombre del personaje": [
            "Harry Potter",
            "Hermione Granger",
            "Ron Weasley",
            "Draco Malfoy",
            "Luna Lovegood",
            "Albus Dumbledore",
            "Minerva McGonagall",
            "Severus Snape",
            "Rubeus Hagrid",
            "Sirius Black"
        ],
        "Casa": [
            "Gryffindor",
            "Gryffindor",
            "Gryffindor",
            "Slytherin",
            "Ravenclaw",
            "Gryffindor",
            "Gryffindor",
            "Slytherin",
            "Gryffindor",
            "Gryffindor"
        ],
        "Edad": [
            17,
            18,
            17,
            17,
            17,
            116,
            70,
            38,
            62,
            36
        ],
    }
)

# Muestra el DataFrame
df_potter

  Nombre del personaje        Casa  Edad
0         Harry Potter  Gryffindor    17
1     Hermione Granger  Gryffindor    18
2          Ron Weasley  Gryffindor    17
3         Draco Malfoy   Slytherin    17
4        Luna Lovegood   Ravenclaw    17
5     Albus Dumbledore  Gryffindor   116
6   Minerva McGonagall  Gryffindor    70
7        Severus Snape   Slytherin    38
8        Rubeus Hagrid  Gryffindor    62
9         Sirius Black  Gryffindor    36

#### Resuelve los siguientes ejercicios. Recuerda que el dataframe del laboratorio es asignado a la variable 'df_potter'

In [ ]:
# 1. Calcula la edad m√°xima de los personajes de Harry Potter
edad_max = # TODO: aqu√≠ completar el c√≥digo
edad_max

116

In [ ]:
# Test a la pregunta 1. No modificar este bloque de c√≥digo, s√≥lo hacerlo correr exitosamente.
if edad_max == 116:
  print("C√≥digo correcto, excelente!")
else:
  print("No te rindas, int√©ntalo de nuevo")

C√≥digo correcto, excelente!

In [ ]:
# 2. Calcula la edad m√≠nima de los personajes de Harry Potter
edad_min = # TODO: aqu√≠ completar el c√≥digo
edad_min

17

In [ ]:
# Test a la pregunta 2. No modificar este bloque de c√≥digo, s√≥lo hacerlo correr exitosamente.
if edad_min == 17:
  print("C√≥digo correcto, excelente!")
else:
  print("No te rindas, int√©ntalo de nuevo")

C√≥digo correcto, excelente!

In [ ]:
# 3. Genera las estad√≠sticas descriptivas del dataframe de Harry Potter
# TODO: aqu√≠ completar el c√≥digo