## 1. CARGAR LOS DATOS EN UN DATAFRAME y MOSTRAR LAS 3 PRIMERAS Y 3 ULTIMAS FILAS

In [1]:
import pandas as pd

In [3]:
# TODO:

In [4]:
# Tres primeras filas
df =

In [7]:
# Test 01a
if df.iloc[2, 3] == 94.5:
    print("Felicitaciones, el código funciona correctamente!")
else:
    print("Intenta de nuevo, algo salió mal.")

Felicitaciones, el código funciona correctamente!

In [21]:
# Tres ultimas filas
df =

In [8]:
# Test 01b
if df.iloc[60, 3] == 104.3:
    print("Felicitaciones, el código funciona correctamente!")
else:
    print("Intenta de nuevo, algo salió mal.")

Felicitaciones, el código funciona correctamente!

## 2. REEMPLAZAR TODOS LOS NAN POR 0

In [9]:
# TODO:

In [12]:
# Test 02
if df['price'].isnull().sum() == 0:
    print("Felicitaciones, el código funciona correctamente!")
else:
    print("Intenta de nuevo, algo salió mal.")

Felicitaciones, el código funciona correctamente!

## 3. ENCONTRAR EL AUTO MAS CARO Y MOSTRAR LA EMPRESA

In [13]:
# TODO:

In [14]:
# Encontrar la fila con el precio máximo
auto_mas_caro =

# Extraer la empresa y el precio del automóvil más caro
empresa_auto_mas_caro =
precio_auto_mas_caro =

In [15]:
# Test 03
if precio_auto_mas_caro == 45400 and empresa_auto_mas_caro == 'mercedes-benz':
    print("Felicitaciones, el código funciona correctamente!")
else:
    print("Intenta de nuevo, algo salió mal.")

Felicitaciones, el código funciona correctamente!

## 4.CONTAR EL TOTAL DE AUTOS POR EMPRESA

In [ ]:
# TODO:

In [16]:
autos_por_empresa =

In [20]:
# Test 04
if str(autos_por_empresa.iloc[3:4].index[0]) == 'nissan':
    print("Felicitaciones, el código funciona correctamente!")
else:
    print("Intenta de nuevo, algo salió mal.")

Felicitaciones, el código funciona correctamente!

## 5. CREAR UN PLOT ADECUADO PARA LA DATA ANTERIOR (4.)

In [20]:
# TODO